@import url('https://fonts.cdnfonts.com/css/wavepool');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url("../TeaWall.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
}

.content {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.content h1 {
    font-family: "Wavepool", sans-serif;
    font-size: 2.5rem;
    color: #10380c;
    margin-bottom: 10px;
}

.content p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

#tea-counter {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #025a00;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#sip-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #10380c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#sip-button:hover {
    background-color: #025a00;
    transform: scale(1.05);
}

#sip-button:active {
    transform: scale(0.95);
}
