body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ececec;
    color: #222;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.controls {
    margin-top: 20px;
}

.message {
    color: red;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 20px;
}

#datetime {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#start,
#stop,
#reset {
    width: 100px;
    margin: 5px;
}

.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"]:checked + .toggle-slider {
    background-color: #2196f3;
}

input[type="checkbox"]:checked + .toggle-slider:before {
    transform: translateX(20px);
}

#alarmToggle {
    background-color: #434343;
    border: solid 1px #b8b8b8;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.fa-bell {
    text-shadow: 0 0 10px rgb(195, 155, 12);
    color: #f1c40f;
}

.fa-bell-slash {
    text-shadow: 0 0 10px rgb(165, 55, 12);
    color: #e74c3c;
}

.progress {
    margin: 20px;
    height: 15px;
    background-color: #d9d9d9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.7);
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease;
}
